<%= form_with(model: election, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <%= render "shared/error", resource: election %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <template data-nested-form-target="template">
    <%= form.fields_for :candidates, Candidate.new, child_index: 'NEW_RECORD' do |candidate_fields| %>
      <%= render "candidates/form", form: candidate_fields %>
    <% end %>
  </template>

  <%= form.fields_for :candidates do |candidate_fields| %>
    <%= render "candidates/form", form: candidate_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <div>
    <button type="button" data-action="nested-form#add">Add candidate</button>
    <%= form.submit "Create election" %>
  </div>
<% end %>
