<% content_for :title, @election.title + " results" %>

<%= render @election %>

<p>
  Total votes:
  <%= @election.votes.count %>
</p>

<%= render @election.candidates %>

<%= bar_chart @election.results %>

<div>
  <% unless @election.closed? %>
    <%= link_to "Go vote", new_election_vote_path(@election) %>
  <% end %>
  <%= link_to "New election", new_election_path %>
</div>
