<% content_for :title, @election.title + " results" %>

<%= render @election %>

<p>
  Total votes:
  <%= @election.votes_count %>
</p>

<%= render @candidates %>

<div>
  <%= link_to "Go vote", new_election_vote_path(@election) %>
  <%= link_to "New election", new_election_path %>
</div>
