<% content_for :title, @election.title + " results" %>

<%= render @election %>

<p>
  Total votes:
  <%= @election.votes.count %>
</p>

<%= render @election.candidates %>

<%= bar_chart @election.results %>

<div>
  <%= link_to "New election", new_election_path %>
</div>
