<%= form_with(model: [@election, vote]) do |form| %>
  <%= render "shared/error", resource: vote %>

  <%= form.collection_radio_buttons :candidate_id, candidates, :id, :name do |button| %>
    <div>
      <%= button.radio_button %>
      <%= button.label %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Vote" %>
  </div>
<% end %>
