<%= form_with(model: vote) do |form| %>
  <%= render "shared/error", resource: vote %>

  <%= form.collection_radio_buttons :candidate_id, candidates, :id, :name, checked: candidates.first.id do |button| %>
    <div>
      <%= button.radio_button %>
      <%= button.label %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Vote" %>
  </div>
<% end %>
